/* AboutPage.css */

.about-container {
  max-width: 1200px; /* Set a maximum width for larger screens */
  margin: 0 auto;
  padding: 20px;
}

.about-h1 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 60px;
  color: #B33939;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.text {
  flex: 1;
  text-align: left;
}

.pair-image {
  flex: 1;
  text-align: right;
  margin-top: 250px; /* Adjust margin as needed */
  margin-right: 40px; /* Adjust margin as needed */
}

.recomm {
  display: block; /* Ensure the image is a block-level element */
  margin: 0 auto; /* Center the image horizontally */
  width: 80%; /* Enlarge the image to 80% of its container width */
  max-width: 400px;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  color: #a66e6e;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
  color: white;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
}

li {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

/* Bootstrap Overrides */
@media (max-width: 768px) {
  .section {
      flex-direction: column; /* Stack sections on smaller screens */
      align-items: flex-start; /* Align items to the left */
  }

  .pair-image {
      margin-top: 20px; /* Adjust top margin for smaller screens */
      margin-right: 0; /* Remove right margin for smaller screens */
      text-align: center; /* Center align images on smaller screens */
  }
  /* Additional CSS for AboutPage.css */

.map-container {
  margin: 40px 0; /* Add spacing above and below the map */
  text-align: center; /* Center-align the map */
}

address {
  font-style: normal; /* Style the address */
  color: white; /* Change color for better visibility */
  margin-bottom: 20px; /* Add spacing below the address */
}

}
